*{
    font-family: 'Roboto', sans-serif;
    margin: 0px; 
    padding: 0%;
}
:root{
    /* colors */
    --nav-cont : rgb(208, 208, 208);
    --nav-background : rgb(0, 96, 134);
    --nav-cont-hover:rgb(255, 255, 255) ;
    --black-text: black;
    --button-general-border:  #36b7c5;
    --white--general: white;
    --backgraund-pie: #ddf2fd;
    --container-title-hover:rgb(239, 239, 239) ;
}
body{
    max-width: 3000px;
    /* max-height: max-content; */
}

main{
    max-width: 100%;
    min-width: 300px;
    margin: auto;
    /* display: grid; */
}
/* NAVEGACION */
.header {
  overflow: hidden;
  background-color: var(--nav-background);
  padding: 10px 10px;
}

.header img{
  width: 20px;
  height: 20px;
  align-content: center;
  padding-right: 5px;
}

.header-right {
  float: right;
}


/*  */

.header a {
  float: left;
  color: var(--nav-cont);
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: var(--nav-cont-hover);
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* ESTILOS MENÚ DESPLEGABLE */
.nav-menu{
    color: var(--nav-cont);
    margin-right: auto;
    margin-right: 5px;
    padding: 6px 15px;
    font-size: 25px;
    text-decoration: none;
    width: auto;
    float: right;
}
.icon-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
 
}
.boton-menu label{
  cursor: pointer;
}
/* Menu lateral */
.check-menu{
   display: none;   
}
.container-menu {
  position: absolute;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left:100;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.container-menu.visible {
  opacity: 1;
  visibility: visible;
}

.cont-menu{
  width: 100%;
  max-width: 0px;
  background-color: var(--black-text);
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(100%) ;
}
.cont-menu.visible{
  transform: translateX(0%) ;
  max-width: 300px;

} 

.cont-menu nav{
  transform: translateY(15%);
  
}
.cont-menu a{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--nav-cont);
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu label{
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
 
}
.cont-menu img{
  width: 20px;
  height: 20px;
  align-content: center;
  padding-right: 5px;
}
/* Fin menu lateral */

/* Menu lateral opciones desplegables */

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  padding-top: 15px;
  margin-top: 25px;
  /* max-width: 0px; */
  background-color: var(--black-text);
 
}
.sidenav a button{
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--nav-cont);
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.sidenav label{
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
}


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:var(--nav-cont);
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  border-left: 5px solid #e7f0f5;
 
}
.sidenav a:hover{
  width: 90.2%;
  background-color:#575757;

}

/* Main content */
.main {
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgb(10, 58, 85);
  color: var(--white--general);
}

.active a:hover, .dropdown-btn:hover {
  background-color: var(--white--general);
  color:  rgb(10, 58, 85);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color:rgb(22, 22, 22);
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Fin menu lateral opciones desplegables */

.banner-img{ 
    max-width: 80%;
    min-width: 250px;
    margin: auto;
    text-align: center;
    height: 600px;
    background-image: url("../imagenes/banner.png");
    background-repeat: no-repeat;
    background-position-x: center;
    
}
.container-intro{
    background-color:var(--white--general);
    padding-top: 50px;
    /* padding-bottom: 100px; */
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: minmax(250px, 500px);
    justify-content: center;
    align-content: center;
    padding-bottom: 150px;
    
}
.container-intro-title h2{
    padding: 10px 10px 10px 10px;
    align-self: center;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto; 
}
.container-intro-info p{
    padding: 10px 10px 10px 10px;
    padding-top: 50px;
    text-align: justify;
    font-size: 1rem;
}
.container-intro-title h2:hover{
    background-color: var(--container-title-hover); 
}
.container-intro-info p:hover{
    background-color: var(--container-title-hover); 
    
}
.container-intro-info-button{
    margin: 0 auto;
}

/* BOTONES */
.botton-login {
    /* padding: 10px 10px 10px 10px; */
    border-radius: 5px 5px 5px 5px;
    background-color: var(--white--general);
    color: var(--black-text);
    border: 3px solid var(--button-general-border); /* Green */
}    
.botton-login:hover{
    background-color: #005d81;
    color:var(--white--general);
}

/* pie página*/
#pie{
    clear: both;
    width: 100%;
    height: 70px;
    background-color:var(--nav-background);
    margin: auto;
    margin-bottom: 0px;
    
}
.parrafopie{
    text-align: center;
    align-content: center;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    font-size: 18px;
    padding-top: 10px;
    color: var(--nav-cont);
}
@media screen and (max-width: 1199px) {
    .banner-img{ 
        width: 80%;
        height: 400px;
        background-image: url("../imagenes/banner4.png");
        background-repeat: no-repeat;
        text-align: center;
        background-position-x: center;
    }
   
}

@media screen and (max-width: 840px) {
    .banner-img{ 
        width: 80%;
        height: 400px;
        background-image: url("../imagenes/banner4.png");
        background-repeat: no-repeat;
        text-align: center;
        background-position-x: center;
    }
   
}

@media screen and (max-width: 700px) {
    .banner-img{ 
        width: 80%;
        height: 200px;
        background-image: url("../imagenes/banner3.png");
        background-repeat: no-repeat;
        text-align: center;
        background-position-x: center;
    } 
    .container-intro{
        min-width: 250px;
        height: auto;
        display: grid;
        grid-template-columns: minmax(200px, 500px);
    }
    .container-intro-title h2{
        align-self: center;
        min-width: 250px;
        font-size: 1.6rem;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
  }